* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $back-gray;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
  @include mobile;
}

.grid {
  display: grid;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
