@font-face {
  font-family: "Lato";
  src: url("./fonts/latoregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/latomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/latosemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/latobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("./fonts/OswaldSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafc;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .container {
    margin: 0 auto;
    width: 100%;
    padding: 0 32px !important;
  }
}

.grid {
  display: grid;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  height: 60px;
}

/* .burger {
  @include btn-reset;
} */
.header {
  background-color: #fff;
  padding: 21px 0;
  /* .burger {
    @include btn-reset;

    &__link {
      position: absolute;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: $color-dark;
      transition: width 0.3s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        width: 70%;
      }
      &:nth-child(3) {
        bottom: -1px;
        width: 50%;
      }
    }
    &:hover {
      .burger__link {
        width: 100%;
        transition: width 0.3s ease-in-out;
      }
    }
  } */
}
.header__container {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-left: 59px;
}
.header__burger {
  margin-left: auto;
  /* display: block;
  width: 27px;
  height: 16px;
  position: relative; */
}

.burger {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  display: block;
  width: 27px;
  height: 16px;
  position: relative;
}
.burger__link {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #1d1f24;
  transition: width 0.3s ease-in-out;
}
.burger__link:nth-child(1) {
  top: 0;
}
.burger__link:nth-child(2) {
  top: 50%;
  width: 70%;
}
.burger__link:nth-child(3) {
  bottom: -1px;
  width: 50%;
}
.burger:hover .burger__link {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.nav__list {
  list-style-type: none;
  display: flex;
}
.nav__link {
  display: inline-block;
  color: rgba(29, 31, 36, 0.2);
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  margin-right: 62px;
  transition: color 0.15s;
}
.nav__link:hover {
  color: #616879;
  transition: color 0.15s;
}

.articles__container {
  padding: 53px 0;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-auto-rows: minmax(274px, auto);
}

.article {
  position: relative;
  background-color: #1d1f24;
  min-height: 100px;
}
.article__text {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100;
}
.article__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.12px;
  padding: 0 26px;
  margin-top: 25px;
  min-height: 90px;
}
.article__category {
  margin-top: 30px;
}
.article__image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
}
.article--height {
  grid-row-end: span 2;
  grid-column-end: span 1;
}
.article--width {
  grid-row-end: span 1;
  grid-column-end: span 2;
}

.article-props {
  position: absolute;
  bottom: 30px;
  left: 25px;
  display: flex;
  align-items: center;
}
.article-props__item {
  background-position: left;
  background-repeat: no-repeat;
  display: inline-block;
  color: #fff;
  padding-right: 10px;
  margin: 0 9px;
  font-size: 13px;
  font-weight: 500;
}
.article-props__item--repost {
  background-image: url(../img/repost.svg);
}
.article-props__item--views {
  background-image: url(../img/views.svg);
}
.article-props__item--comments {
  background-image: url(../img/comments.svg);
}

.article-big {
  grid-row-end: span 2;
  grid-column-end: span 3;
}
.article-big__props {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%);
}
.article-big__text {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article-big__title {
  max-width: 610px;
  color: #fff;
  font-family: "Oswald";
  font-size: 32px;
  font-weight: 500;
  line-height: 49px;
  text-transform: uppercase;
  letter-spacing: -0.29px;
  text-align: center;
  margin-top: 35px;
}
.article-big__descr {
  max-width: 480px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
}

.category {
  display: inline-block;
  color: #fff;
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  background-color: #ff565c;
  padding: 10px 20px;
}

.banner {
  background-color: #ff565c;
  padding: 28px;
}
.banner__title {
  color: #fff;
  font-family: "Oswald";
  font-size: 32px;
  line-height: 49px;
  text-transform: uppercase;
  letter-spacing: -0.29px;
}
.banner__descr {
  color: #fff;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 23px;
  margin-bottom: 30px;
}
.banner__link {
  /* width: 210px;
  height: 2px;
  border: 2px solid $color-white;
  background-color: $color-white;
  opacity: -1; */
  display: inline-flex;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  height: 60px;
  padding: 16px 62px;
}

.features {
  background-color: #fff;
  padding: 35px 0;
}
.features__list {
  list-style-type: none;
  counter-reset: heading;
}
.features__item:last-child .features__link {
  border-bottom: 1px solid transparent;
}
.features__link {
  color: #1d1f24;
  display: inline-block;
  padding: 25px 0;
  padding-left: 62px;
  margin-bottom: 55px;
  padding-right: 29px;
  border-bottom: 1px solid #f2f3f6;
}
.features__title {
  color: #1d1f24;
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.92px;
  margin-bottom: 32px;
  padding: 0 29px;
}
.features__item-title {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.13px;
}
.features__item-title::before {
  position: absolute;
  left: -35px;
  top: 0;
  counter-increment: heading;
  content: " " counter(heading) " ";
  color: rgba(29, 31, 36, 0.16);
  font-family: "Oswald";
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */