.articles {
  &__item {
  }

  &__container {
    padding: 53px 0;
    grid-gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-auto-rows: minmax(274px, auto);
  }
}

.article {
  position: relative;
  background-color: $color-dark;
  min-height: 100px;

  &__text {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100;
  }

  &__title {
    color: $color-white;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.12px;
    padding: 0 26px;
    margin-top: 25px;
    min-height: 90px;
  }

  &__category {
    margin-top: 30px;
  }

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    filter: brightness(50%);
  }

  &--height {
    grid-row-end: span 2;
    grid-column-end: span 1;
  }

  &--width {
    grid-row-end: span 1;
    grid-column-end: span 2;
  }
}

.article-props {
  position: absolute;
  bottom: 30px;
  left: 25px;
  @include flex;
  align-items: center;

  &__item {
    background-position: left;
    background-repeat: no-repeat;
    display: inline-block;
    color: $color-white;
    padding-right: 10px;
    margin: 0 9px;
    font-size: 13px;
    font-weight: 500;

    &--repost {
      background-image: url(../img/repost.svg);
    }
    &--views {
      background-image: url(../img/views.svg);
    }
    &--comments {
      background-image: url(../img/comments.svg);
    }
  }
}

.article-big {
  grid-row-end: span 2;
  grid-column-end: span 3;

  &__props {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
  }

  &__text {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    max-width: 610px;
    color: $color-white;
    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 500;
    line-height: 49px;
    text-transform: uppercase;
    letter-spacing: -0.29px;
    text-align: center;
    margin-top: 35px;
  }

  &__descr {
    max-width: 480px;
    color: rgba($color-white, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
  }
}

.category {
  display: inline-block;
  color: $color-white;
  font-family: 'Oswald';
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  background-color: $color-accent;
  padding: 10px 20px;
}
